{% if posts is not empty %}

    <nav class="menu-actualites">
        {% spaceless %}
            <ul>
                {% for post in posts %}
                    <li><a href="{{ path('app_blog_post', {'slug': post.slug}) }}">{{ post.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endspaceless %}
    </nav>

{% endif %}
