{% extends "WHCmsBundle::main.html.twig" %}

{% block main %}

    <div class="container">

        {% block breadcrumb %}

            <ol class="breadcrumb" style="margin-bottom: 5px;">
                <li><a href="#">Home</a></li>
                <li><a href="#">Library</a></li>
                <li class="active">Data</li>
            </ol>

        {% endblock %}

    </div>

{% endblock %}
