.liste-reassurances {
  padding: 20px 0 0 0;
  background: #f6f6f6;
  border-top: 1px solid #d7d8d9;
  border-bottom: 1px solid #d7d8d9;

  .reassurance {
    margin: 0 0 20px 0;

    > * {
      display: block;
      text-align: center;
    }

    i {
      margin: 0 0 5px 0;
      font-size: 30px;
    }

  }

}