.fiche-produit {

  .alert-produit {
    margin: 0 0 20px 0;
    padding: 10px;
    background: #F7F7F7;
    @include border-radius(10px);

    p {
      margin: 0 0 10px 0;

      &.prix {
        text-align: center;
        font-family: 'Amaranth', sans-serif;
        font-size: 30px;
        line-height: 100%;
        font-weight: 400;
        color: #636363;
      }

      &.stock {
        font-family: 'Amaranth', sans-serif;
        font-size: 22px;
        line-height: 100%;
        font-weight: 400;
        color: #3c763d;

        i {
          display: inline-block;
          vertical-align: middle;
        }

        &.epuise {
          color: #a94442;
        }

      }

      &.livraison {
        margin-bottom: 0px;
        font-size: 16px;
        line-height: 100%;
        font-weight: 700;
      }

    }

    form {
      margin: 0 0 10px 0;

      button {
        display: block;
        width: 100%;
        padding: 0;
        border: none;
        text-align: center;
        font-size: 14px;
        line-height: 40px;
        text-transform: uppercase;
        background: #cc4e29;
        color: #FFF;
        @include border-radius(40px);
      }

    }

  }

  .voir-caracteristiques {
    margin: 0 0 20px 0;

    a {
      display: block;
      width: 100%;
      padding: 0;
      border: none;
      text-align: center;
      font-size: 14px;
      line-height: 40px;
      text-transform: uppercase;
      background: #636363;
      color: #FFF;
      @include border-radius(40px);
    }

  }

}

.liste-packs {
  margin: 0 0 20px 0;
  padding: 20px 0 0 0;
  background: #F7F7F7;

  .pack {
    margin: 0 0 20px 0;

    h3 {

      a {
        color: #636363;
      }

    }

    .image {
      margin: 0 0 10px 0;

      img {
        width: 100%;
      }

    }

    form {
      margin: 0;

      .btn-group {
        display: block;
        margin: 0 0 10px 0;

        > .btn {
          display: block;
          width: 100%;
          padding: 0;
          border: none;
          text-align: center;
          font-size: 14px;
          line-height: 40px;
          text-transform: uppercase;
          background: #636363;
          color: #FFF;
          text-shadow: none;
          @include border-radius(0px);
          @include box-shadow(none);

          .caret {
            border-top: 12px solid #FFF;
            border-right: 10px solid transparent;
            border-left: 10px solid transparent;
            margin: 14px 0 0 0;
          }

        }

        .dropdown-menu {
          width: 100%;
          margin: 0;
          padding: 0;
          @include border-radius(0px);
          @include box-shadow(none);

          li {
            display: block;
            margin: 0;

            a {
              display: block;
              padding: 0 10px;
              font-size: 14px;
              line-height: 30px;
              color: #636363;

              &:hover {
                background: #636363;
                color: #FFF;
              }

            }

          }

        }

      }

      .prix {
        text-align: center;
        font-family: 'Amaranth', sans-serif;
        font-size: 22px;
        line-height: 100%;
        font-weight: 400;
        color: #636363;
      }

      button {
        display: block;
        width: 100%;
        padding: 0;
        border: none;
        text-align: center;
        font-size: 12px;
        line-height: 30px;
        text-transform: uppercase;
        background: #cc4e29;
        color: #FFF;
        @include border-radius(40px);
      }

    }

  }

}