section.liste_produits,
section.liste_rubriques {
  padding: 0;

  .produit,
  .rubrique {
    margin: 0 0 20px 0;
    border: none;

    h3,
    h4 {
      text-align: center;

      a {
        display: inline-block;
        vertical-align: top;
        color: #636363;
      }

    }

    .image {
      position: relative;
      margin: 0 0 10px 0;

      span {
        position: absolute;
        top: 0px;
        left: 0px;
        display: inline-block;
        vertical-align: top;
        padding: 0 10px;
        font-size: 14px;
        line-height: 24px;
        text-transform: uppercase;
        background: #cc4e29;
        color: #FFF;
      }

      img {
        width: 100%;
      }

    }

    p.prix {
      margin: 0 0 15px 0;
      text-align: center;
      font-family: 'Amaranth', sans-serif;
      font-size: 28px;
      line-height: 100%;
      font-weight: 700;
      color: #1a171b;
    }

    .plus {
      text-align: center;

      a {
        display: block;
        font-size: 14px;
        line-height: 40px;
        text-transform: uppercase;
        background: #636363;
        color: #FFF;
        @include border-radius(40px);
      }

    }

  }

}

section.liste_produits {

  .produit {

    .plus a {
      background: #B4D84E;
    }

    .plus a,
    form button {
      font-size: 12px;
      line-height: 30px;
      @include border-radius(30px);
    }

    form {
      margin: 0;

      button {
        display: block;
        width: 100%;
        padding: 0;
        border: none;
        font-size: 12px;
        line-height: 30px;
        text-transform: uppercase;
        background: #cc4e29;
        color: #FFF;
      }

    }

  }

}

.banniere-configurateur {
  margin: 0 0 20px 0;

  a {
    display: block;

    img {
      width: 100%;
    }

  }

}

.contenu-bas {
  padding: 20px 0;
  background: #F4F4F4;

  .container {

    > * {
      margin-bottom: 0px;
    }

  }

}