{% extends "WHMainBundle::layout.html.twig" %}

{% block content %}

    <!-- Google Code for Conversions OP Portes Ouvertes Conversion Page -->
    <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 927187035;
        var google_conversion_language = "en";
        var google_conversion_format = "3";
        var google_conversion_color = "ffffff";
        var google_conversion_label = "pYBlCPjt0WUQ24CPugM";
        var google_remarketing_only = false;
        /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
        <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt=""
                 src="//www.googleadservices.com/pagead/conversion/927187035/?label=pYBlCPjt0WUQ24CPugM&amp;guid=ON&amp;script=0"/>
        </div>
    </noscript>

    <div class="container">

        <div class="content">

            <div class="alert alert-success" style="font-size: 20px;line-height: 100%;">Votre demande de contact a été
                envoyée
            </div>

        </div>

    </div>

{% endblock %}

{% block javascript %}

    <script type="text/javascript">

    </script>

{% endblock %}
