{% extends "WHMainBundle::layout.html.twig" %}

{% block content %}

    <div class="container">

        <div class="content">

            <h1>Mentions légales</h1>

            <p>(1) TVA 5.5% : selon la grille de prix en vigueur. Sous réserve que les conditions de l’article 278
                sexies II du code général des impôts soient remplis. Voir conditions en agence.</p>

            <p>(2) RT2012 : démarche visant à l’obtention du label, valable à l’achèvement de la résidence. La
                construction sera réalisée conformément au niveau de règlementation de performance énergétique en
                vigueur (RT2012) et à la certification requise pour ce programme.</p>

            <p>(3) BBC : La résidence est conçue pour répondre aux exigences des bâtiments basse consommation, en vue de
                l’obtention du label valable à l’achèvement de la résidence.</p>

            <p>(4) Réduction valable pour l’achat d’une cuisine (meubles, accessoires et électroménager, hotte, plaque,
                four hors pose et livraison) d’une valeur de 5000€ dans le magasin Cuisinella de Lomme. Offre valable du
                23 avril au 30 mai 2016. Voir conditions auprès de votre conseiller immobilier.</p>

            <p>(5) Pour toute souscription d’un pack investisseur avec signature d’un mandat de gestion durant notre
                campagne du 23 avril au 30 mai 2016. Voir conditions auprès de votre conseiller immobilier.</p>

            <p>(6) Pour toute souscription d’un mandat de gestion durant notre campagne du 23 au 30 mai 2016. Soit
                (1€/m² de la surface habitable) pour la recherche de locataires. Voir conditions auprès de votre
                conseiller immobilier.</p>

            <p>(7) Participation au jeu valable durant notre campagne du 23 au 30 avril 2016. Dotation : par tirage au
                sort : 1 iPad Air 2 d’une valeur de 439€ TTC. Règlement complet disponible sur simple demande auprès de
                Nacarat à l’adresse suivante : 594 avenue Willy Brandt – 59777 EURALILLE II. Les offres sont non
                cumulables avec les autres offres en cours ou à venir.</p>

            <p>(8) PTZ+ : Le PTZ+ 2016 est réservé aux primo-accédant pour l’acquisition de leur résidence principale
                (neuf ou ancien avec travaux) située dans certaines zones éligibles. Les conditions du nouveau PTZ 2016
                sont fixées par la loi de finances pour 2016 votée fin décembre 2015. Elles sont applicables pour tous
                les prêts à taux zéro qui seront émis à partir du 1er janvier 2016. Les conditions sont celles qui
                résultent des modifications apportées aux articles L31-1061 et suivants et R-31-10-1 et suivants du code
                de la construction relatifs aux conditions d’application du PTZ+ (notamment conditions de ressources et
                de composition familiale). Sous réserve d’acceptation du dossier par l’établissement bancaire. Voir
                conditions en espace de vente.</p>

            <p>(9) Loi Pinel : Réduction d’impôt pour l’acquisition à compter du 1er septembre 2014 d’un logement neuf
                situé dans certaines zones géographiques, destiné à la location pendant 6 ans, 9 ans ou 12 ans à un
                loyer plafonné, et à des locataires sous plafonds de ressources. Les conditions sont définies à
                l’article 199 novovicies du code général des impôts tel que modifié par la loi de finances pour 2015. La
                réduction d’impôts est de 12% (pour 6 ans de location), 18% (pour 9 ans de location), ou de 21% (pour 12
                ans de location) calculée sur le prix d’acquisition du bien retenu dans la limite de 300 000€. Faire un
                investissement immobilier présente des risques. Tout décalage dans la signature de l’acquisition et/ou
                dans le calendrier de livraison est susceptible d’entrainer la perte du bénéfice de la réduction
                d’impôt. Cette réduction d’impôt est prise en compte pour le calcul du plafonnement global de certains
                avantages fiscaux visés à l’article 200-0 A du CGI. Voir conditions en espace de vente.</p>

            <p>*Prix en TVA 20% selon la grille de prix en vigueur au 23/03/2016. Dans la limite des stocks disponibles.
                Voir conditions en agence.</p>

            <p>**Prix maîtrisés selon la grille de prix en vigueur au 23/03/2016. Prix inférieurs aux prix
                habituellement pratiqués à Lille, grâce à des aides publiques. Prix au m² 2400€ avec stationnement
                (surface utile).</p>

            <p>Voir conditions en agence.</p>

            <p>Nacarat – 594 avenue Willy Brandt – 59777 EURALILLE – SIRET 311 087 175 000 72. Illustrations non
                contractuelles à caractère d’ambiance.</p>

        </div>

    </div>

{% endblock %}

{% block javascript %}

    <script type="text/javascript">

    </script>

{% endblock %}
